.aboutPageContainer {
    min-height: 80vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center; /* This vertically centers the content */
    align-items: center; /* This horizontally centers the content */
    text-align: center;
}