.homePageContainer {
    min-height: 80vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; /* This vertically centers the content */ /* Started messing with height  */
    align-items: center; /* This horizontally centers the content */
    text-align: center;
}

.homePageContainer .enterButton {
    padding: 10px 20px;
    margin-top: 25px; /* Adjust spacing above the button */
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    /* Add more styles as needed */
}

/* Basic setup for all the texts for home page */
.homePageContainer h1 { 
    font-size: 60px;
}

.homePageContainer h2 {
    font-size: 30px;
}

.homePageContainer body {
    font-size: 20px;
}

.homePageContainer caption {
    margin-top: 25px;
    font-size: 15px;
}

.homePageContainer .aboutButton {
    padding: 10px 20px;
    margin-bottom: 20px;
    margin-left: 90%;
    font-size: 20px;
    cursor: pointer;
}
