.moviePageContainer {
    min-height: 10vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    /*justify-content: center; */
    align-items: center;

}



.moviePageContainer ul {
    list-style-type: none; /* Removes bullet points */
}

.headerContainer{
    margin-right: 800px;

}

.header {
    margin-right: 50px;
}
