.movies-container {

  padding: 20px;
  }
  
  .movie-row {
    display: flex;
    overflow-x: auto;
    gap: 30px;
  }
  
  .movie-card {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .movie-poster {
    width: 150px;
    height: auto;
    object-fit: cover;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
  }
  
  .movie-details {
    padding: 10px;
  }

  .movie-card:hover .movie-poster {
    transform: scale(1.1); /* Increase size on hover */
  }

  .popup {
    text-align: center;
    color: black;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 90%;
    max-height: 90vh;
    overflow: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  
  .popup img {
    width: 10px;
    max-width: 300px;
    height: auto;
    margin-bottom: 10px;
  }

  .popup p {
    white-space: pre-line; 
  }