.movieRecPageContainer {
    min-height: 100vh;
    min-width: 100vh;
    background: black;
    color: white;
    display: flex;
    flex-direction: column;
}

.movieRecHeader {
    display: flex;
    font-size: 30px;
    color: white;
    padding-bottom: 40px;
    align-items: center;
}

.backButton {
    margin-left: 10px;
    margin-right: 21.5%;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.movieRecContainer {
    margin-left: 10px;
    display: flex;
    overflow-x: auto; /* Enable horizontal scrolling */
    white-space: nowrap; /* Prevent items from wrapping to new lines */
    -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS */
}

.movieRecContainer image {
    justify-content: center;
  }

.buttonContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}

.genreHeader {
    margin-left: 10px;
}