.moviePageContainer {
    min-height: 10vh;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;


}

.headerContainer{
    margin-bottom: auto;
    padding-bottom: 10%;

}

.searchContainer {
    text-align: center;
    margin: auto;
}


.moviePageContainer ul {
    list-style-type: none; /* Removes bullet points */
}



