.movieRecContainer {
    min-height: 20vh;
    min-width: 100vh;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to bottom, #d8581d, #de3dd3);
    color: white !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.buttonContainer {
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 30px;
    cursor: pointer;
}