.testerPageContainer {
    min-height: 80vh;
    width: 100vw;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    min-width: 50px;
}

.testerPageTaskBar {
    align-items: center;
    text-align: center;
    justify-content: space-between;
    display: flex;
}

.taskButton {
    padding: 10px 20px;
    margin-top: 25px; /* Adjust spacing above the button */
    margin-bottom: 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;

}

.taskButton:not(:last-child) {
    margin-right: 10px; /* Add space between buttons */
}

.introContainer {
    margin-top: 30px;
    align-items: center;
    text-align: center;
}

/* Basic setup for all the texts for home page */
.introContainer h1 { 
    font-size: 60px;
    margin-bottom: 60px;
}

.introContainer h2 {
    font-size: 30px;
}

.introContainer body {
    font-size: 20px;
    margin-bottom: 30px;
}

.introContainer p {
    margin-top: 40px;
    font-size: 15px;
}

.introContainer button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}

.pictureContainer {
    display: flex;
    align-items: center;
    justify-content: center;

}
.popup {
    position: fixed; /* Fixed position relative to the viewport */
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    width: 40%;
    height: 40%;
    transform: translate(-50%, -50%); /* Center the popup */
    z-index: 1000; /* Ensure it appears above other content */
    background-color: blue; /* Semi-transparent background */
    padding: 20px; /* Add padding for content */
    border-radius: 10px; /* Add rounded corners */
  }
  
  .popup-content {
    text-align: center; /* Center content horizontally */
  }
  
  .popup img {
    max-width: 10%; /* Ensure image fits within popup */
  }
  
  .popup h2 {
    margin-top: 10px; /* Add space between image and title */
  }
  
  .popup p {
    margin-top: 10px; /* Add space between title and description */
  }

.normalProfile {
    width: 100px;
    cursor: pointer;
}